/* Cover Page Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
    /* display: flex; */
    font-family: Arial, sans-serif;
}

.cover-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

/* Top Section */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33%;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #1a1a1a;
    color: white;
}

.headshot {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Circular headshot */
    border: 3px solid white;
    object-fit: cover;
}
